@using System.IO;

@model PersonManager.Models.PersonViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Person.PersonId" />
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.IdCardNum" class="control-label"></label>
                <input asp-for="Person.IdCardNum" class="form-control" />
                <span asp-validation-for="Person.IdCardNum" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Person.IdCardImgUrl" id="inputImageUrl" />
            <div class="form-group">
                <label asp-for="IdCardImg" class="control-label"></label>
                <input asp-for="IdCardImg" class="file" id="inputImage" />
                <span asp-validation-for="IdCardImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    window.onload = function () {
        $("#inputImage").fileinput({
            initialPreviewAsData: true,
            fileActionSettings: {
                zoomIcon: '<i class="fas fa-search-plus"></i>',
                removeIcon: '<i class="fa fa-trash"></i>',
            },
            previewZoomButtonIcons: {
                prev: '<i class="fas fa-caret-left"></i>',
                next: '<i class="fas fa-caret-right"></i>',
                toggleheader: '<i class="fas fa-arrows-alt-v"></i>',
                fullscreen: '<i class="fas fa-arrows-alt"></i>',
                borderless: '<i class="fas fa-expand-alt"></i>',
                close: '<i class="fas fa-times"></i>'
            },

            initialPreview: [
                "@Model.Person.IdCardImgUrl"
            ],
                        initialPreviewConfig: [
                { caption: "@System.IO.Path.GetFileName(Model.Person.IdCardImgUrl)" }
            ]
        });
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
